<div class = "row" >
  <div class = "col-md-6 offset-3" >
    <h2>ユーザー編集</h2>

    <%= form_with model: @user, url: public_user_path(@user.id), method: :patch  do |f| %>
      <h4>ユーザーネーム</h4>
      <%= f.text_field :user_name, class: "form-control" %>

      <h4>メールアドレス</h4>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit '保存' %>
    <% end %>
 </div>
</div>